.header {
    padding: 0.5px;
    font-size: 20px;
    margin: 0.67em 0;
    background-image: linear-gradient(to right,rgb(241, 61, 254),rgba(160, 6, 177, 0.949));
    color: white;
    text-align: center;      
}

.btn {
    font-size: 20px;
    margin: 5px 0;
    border-radius: 10%;
    color: white;
    background-color: rgb(255, 255, 255);
  }

  #searchBox, #city-search {
    float: left;
  }
